[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=chromat
X-Python-2-Compatible=false
Name=Chromat
Comment=Post Processing Plugin